### Advanced Solutions

#### Exercise 1

Given the string `s = 'FfEeDdCcBbAa'`, create two strings containing the uppercase and lowercase letters in alphabetical order:
- `'ABCDEF'`
- `'abcdef'`

In [1]:
s = 'FfEeDdCcBbAa'
upper_sorted = ''.join(sorted(filter(str.isupper, s)))
lower_sorted = ''.join(sorted(filter(str.islower, s)))
upper_sorted, lower_sorted

('ABCDEF', 'abcdef')

#### Exercise 2

Concatenate tuples and replace odd values with `0` in a generic way.

In [2]:
from itertools import chain
t1 = (1, 2, 3, 4, 5, 6)
t2 = (7, 8, 9, 10)
t3 = (11, 12, 13, 14, 15, 16, 17)
result = tuple(0 if x % 2 else x for x in chain(t1, t2, t3))
result

(0, 2, 0, 4, 0, 6, 0, 8, 0, 10, 0, 12, 0, 14, 0, 16, 0)

#### Exercise 3

Mutate the 3Ã—3 zero matrix into an identity matrix.

In [3]:
m = [
    [0, 0, 0],
    [0, 0, 0],
    [0, 0, 0]
]
for i, row in enumerate(m):
    row[i] = 1
m

[[1, 0, 0], [0, 1, 0], [0, 0, 1]]

#### Exercise 4

Create an identity matrix without mutating `m`.

In [4]:
m = [
    [0, 0, 0],
    [0, 0, 0],
    [0, 0, 0]
]
result = [[1 if i == j else m[i][j] for j, _ in enumerate(row)] for i, row in enumerate(m)]
result, m

([[1, 0, 0], [0, 1, 0], [0, 0, 1]], [[0, 0, 0], [0, 0, 0], [0, 0, 0]])

#### Exercise 5

Convert amounts using exchange tuples `(amount, currency, target_currency, rate)` and print results.

In [5]:
data = [
    (100, 'USD', 'EUR', 0.83),
    (100, 'USD', 'CAD', 1.27),
    (100, 'CAD', 'EUR', 0.65)
]
for amount, src, dst, rate in data:
    converted = amount * rate
    lhs = f"{amount:g} {src}"
    rhs = f"{converted:.2f}".rstrip('0').rstrip('.')
    print(f"{lhs} = {rhs} {dst}")

100 USD = 83 EUR
100 USD = 127 CAD
100 CAD = 65 EUR